// Alto Syntax Theme

// Color scheme -----------------------------------

@dbg: #181D1A; // Dark background
@dhl: #282D2A; // Dark highlight
@dt2: #686D6A; // Dark bg text secondary
@dt1: #989D9A; // Dark bg text primary

@lbg: #FAFBFC; // Light background
@lhl: #EAEBEC; // Light highlight
@lt2: #8A8B8C; // Light bg text secondary
@lt1: #4A4B4C; // Light bg text primary

@red: #C6414D; // Red
@ora: #D9754D; // Orange
@yel: #D9A53D; // Yellow
@gre: #679D35; // Green

@cya: #379AAB; // Cyan
@blu: #267DC6; // Blue
@vio: #9E6BCD; // Violet
@mag: #DC6C95; // Magenta

// Variables -----------------------------------

@text-1: @lt1; // text primary
@text-2: @lt2; // text secondary

@color-1: @gre; // color primary
@color-2: @mag; // color secondary
@color-3: @vio; // color tertiary

@support-1: @cya; // support primary
@support-2: @ora; // support secondary

@accent-1: @blu; // accent primary
@accent-2: @yel; // accent secondary
@accent-3: @red; // accent tertiary

// Base vars -----------------------------------

@syntax-fg: @text-1; // text primary
@syntax-accent: @accent-1; // accent primary
@syntax-bg: @lbg; // background
@syntax-guide: @lhl; // background highlight
@syntax-selection: @syntax-guide;
@syntax-selection-gutter: @syntax-guide;
@syntax-cursor-line: fade(@syntax-selection, 26%); // needs to be semi-transparent to show serach results
